<li class="select__item" [class.active]="show()" [class.selected]="checked()">
    <label class="select__item__label">
        <input class="select__input" value="{{value()}}" type="{{this.type()}}" [name]="name()"
            (change)="ItemChange($event)">
        <div class="select__item__content">
            <span class="select__item__check">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                        clip-rule="evenodd" />
                </svg>
            </span>
            <ng-content></ng-content>
        </div>
    </label>
</li>