<div class="select {{size()}}" [class.active]="activeList()" [class.full-width]="fullWidth()"  #selectContainer>
    <div class="select__action">
        <label class="select__label">
            <ng-content></ng-content>
        </label>
        <button type="button" class="select__button" (click)="toggleList()" #selectButton>
            <ng-template #defaultSelectionTemaplate>
                @if(selectedItems().length === 1){
                    <span class="select__button__text">{{selectedItems()[0].option.label}}</span>
                }
                @else if (selectedItems().length === selectableItems.length && selectedItems().length > 0){
                    <span class="select__button__text">All</span>
                }
                @else if(selectedItems().length > 1){
                    <span class="select__button__text">{{selectedItems()[0].option.label}} <span>(+{{selectedItems().length - 1}} other{{selectedItems().length > 2 ? 's': ''}}) </span></span>
                }
                @else{
                    <span class="select__button__text">{{placeholder()}}</span>
                }
            </ng-template>
            <ng-container [ngTemplateOutlet]="selectionTemplate() || defaultSelectionTemaplate"
                           [ngTemplateOutletContext]="{ $implicit: selectedItems() }">
            </ng-container>
            <span class="select__button__icon" [class.active]="activeList()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>                  
            </span>
        </button>
    </div>
    <div class="select__list-wrapper" #listWrapper  [class.align-top]="verticalAlign() == 'top'" [class.align-right]="horizontalAlign() == 'right'">
        @if(canSearch()){
            <div class="select__search-wrapper">
                <label class="select__search">
                    <span class="select__search__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>                      
                    </span>
                    <input type="text" class="select__search__input" placeholder="Search" (input)="search($event)" [(ngModel)]="searchValue">
                </label>
            </div>
        }
        <ul class="select__list" #selectList>
            @if(items()){
                @for(item of filteredItems(); track item.option.value; let idx = $index){
                    @defer(on viewport){
                        <ml-select-option  
                            [name]="uniqueId"
                            [value]="item.option.value" 
                            (onItemChange)="itemChange($event)"
                            [checked]="item.option.checked" 
                            
                            [type]="multiple() ? 'checkbox' : 'radio'">
                            <ng-container [ngTemplateOutlet]="optionTemplateRef() ?? defaultOptionTemplate"
                                    [ngTemplateOutletContext]="{ $implicit: item, idx: idx }"></ng-container>
    
                        </ml-select-option>
                    }
                    @placeholder {
                        <span></span>
                    }
                }
                <ng-template let-item #defaultOptionTemplate>
                        {{item.option.label}}
                </ng-template>
            }
        </ul>
    </div>
</div>
