.select{
    position: relative;
    &__input{
        display: none;
    }
}

.select__button{
    text-align: left;
}
.select__list-wrapper{

    background-color: #fff;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
    transform: scaleY(0);
    transform-origin: top;
    visibility: hidden;
    transition: transform 0.1s ease;
}
.select__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.select__item{
    box-sizing: border-box;
    list-style: none;
    display: none;
    --accent-color: #007bff;
    --check-color: #fff;
    &.active{
        display: block;
    }
    &__check, &__radio{
        width: .75em;
        height: .75em;
        border: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--check-color);
        svg{
            transform: scale(0);
            width: 100%;
            height: 100%;
        }
    }
    &__check{
        border-radius: 3px;
    }
    &__radio{
        border-radius: 50%;
    }
    
    &__label{
        --padding-inline: 0.5rem;
        --padding-block: .25rem;
        display: flex;
        padding: var(--padding-block) var(--padding-inline);
        &:hover{
            background-color: #f8f9fa;
        }
    }
    &__content{
        display: flex;
        gap: .5rem;
        align-items: center;
    }
}

.select__item__label:has(.select__input:checked) .select__item__check{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    svg{
        transform: scale(1);
    }
}
.select__item__label:has(.select__input:checked) .select__item__radio{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    svg{
        transform: scale(1);
    }
}

.active {
    .select__list-wrapper{
        visibility: visible;
        transform: scaleY(1);
    }
}

.select__action{
    display: flex;
    flex-direction: column;
}