:host{
    --select-border-radius: var(--form-field-border-radius);

    --select-padding-x: var(--form-field-padding-x);
    --select-padding-y: var(--form-field-padding-y);
    --select-padding-x-sm: var(--form-field-padding-x-sm);
    --select-padding-y-sm: var(--form-field-padding-y-sm);

    --select-height: var(--form-field-height);
    --select-height-sm: var(--form-field-height-sm);
    --select-height-lg: var(--form-field-height-lg);

    --select-list-min-width: 14rem;
    --select-list-min-width-sm: 12rem;
    --select-list-min-width-lg: 16rem;

    --select-color: var(--form-field-color);
    --select-border-color: var(--form-field-border-color);
    --select-background: var(--form-field-background);
    --select-border-width: var(--form-field-border-width);

    --select-list-header-background: var(--color-gray-100);

    --select-list-height: 12rem;

    height: auto;
    display: inline-flex;
}

:host:has(.full-width) {
    width: 100%;
}


.select {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.select__button {
    text-align: left;
    background: var(--select-background);
    border: var(--select-border-width) solid var(--select-border-color);
    border-radius: var(--select-border-radius);
    padding-inline: var(--select-padding-x);
    padding-block: var(--select-padding-y);
    height: var(--select-height);
    display: grid;
    grid-template-columns: 1fr 1rem;
    align-items: center;
}

.select__button__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select__button__icon {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.select__button__icon svg {
    width: 1em;
    height: 1em;
}

.select__button__icon.active {
    transform: rotate(180deg);
}

.select__list-wrapper {
    background-color: #fff;
    position: absolute;
    z-index: 100;
    left: 0;
    top: calc(100% + 4px);
    transform: scaleY(0);
    transform-origin: top;
    visibility: hidden;
    transition: transform 0.1s cubic-bezier(0.41, 0.86, 0.51, 1);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    width: 100%;
    min-width: var(--select-list-min-width);
    box-sizing: border-box;
    border-radius: var(--select-border-radius);

}

.select__list-wrapper.align-top{
    bottom: calc(100% + 4px);
    top: initial;
    transform-origin: bottom;
}

.select__list-wrapper.align-right{
    left: initial;
    right: 0;
}

.active .select__list-wrapper {
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
}

.select__list{
    padding-inline: var(--select-padding-x);
    padding-block: var(--select-padding-y);
    overflow-y: auto;
    overflow-x: hidden;
    height: var(--select-list-height);
}

.select__action {
    display: flex;
    flex-direction: column;
    width: 100%;
    // gap: .25rem;
}
.select__search-wrapper{

    padding-inline: var(--select-padding-x);
    padding-block: var(--select-padding-y);
    background-color: var(--select-list-header-background);
    border-top-left-radius: var(--select-border-radius);
    border-top-right-radius: var(--select-border-radius);
}
.select__search {
    display: grid;
    grid-template-columns: 2rem 1fr;
    border: var(--select-border-width) solid var(--select-border-color);
    border-radius: var(--select-border-radius);
    box-sizing: border-box;
    height: var(--select-height);
    background: #fff;
}

.select__search__input {
    width: 100%;
    padding-inline: var(--select-padding-x);
    padding-block: var(--select-padding-y);
    border-radius: var(--select-border-radius);
    padding-left: 0;
    box-sizing: border-box;
    outline: none;
    display: inline-flex;
    border: none;
}

.select__search__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select__search__icon svg {
    width: 1em;
    height: 1em;
}

//size modifiers

.sm .select__button {
    height: var(--select-height-sm);
    padding-inline: var(--select-padding-x-sm);
    padding-block: var(--select-padding-y-sm);
}

.lg .select__button {
    height: var(--select-height-lg);
    padding-inline: var(--select-padding-x-lg);
    padding-block: var(--select-padding-y-lg);
}

.sm .select__search {
    height: var(--select-height-sm);
}
.lg .select__search {
    height: var(--select-height-lg);
}

.sm .select__search__input {
    padding-inline: var(--select-padding-x-sm);
    padding-block: var(--select-padding-y-sm);
}

.lg .select__search__input {
    padding-inline: var(--select-padding-x-lg);
    padding-block: var(--select-padding-y-lg);
}


