<div class="select" [class.active]="activeList()" #listWrapper>
    <div class="select__action">
        <label class="select__label">
            <ng-content></ng-content>
        </label>
        <button type="button" class="select__button" (click)="toggleList()" #selectButton>
            <ng-template #defaultSelectionTemaplate>
                @if(selectedItems().length === 1){
                    <span class="select__button__text">{{selectedItems()[0].option.label}}</span>
                }
                @else if (selectedItems().length === selectableItems.length && selectedItems().length > 0){
                    <span class="select__button__text">All</span>
                }
                @else if(selectedItems().length > 1){
                    <span class="select__button__text">{{selectedItems()[0].option.label}} <span>(+{{selectedItems().length - 1}} other{{selectedItems().length > 2 ? 's': ''}}) </span></span>
                }
                @else{
                    <span class="select__button__text">{{placeholder()}}</span>
                }
            </ng-template>
            <ng-container [ngTemplateOutlet]="selectionTemplate() || defaultSelectionTemaplate"
                           [ngTemplateOutletContext]="{ $implicit: selectedItems() }">
            </ng-container>
            <span class="select__button__icon" [class.active]="activeList()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>                  
            </span>
        </button>
    </div>
    <div class="select__list-wrapper" >
        @if(canSearch()){
            <label class="select__search">
                <span class="select__search__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>                      
                </span>
                <input type="text" class="select__search__input" placeholder="Search" (input)="search($event)" [(ngModel)]="searchValue">
            </label>
        }
        <ul class="select__list">
            @if(items()){
                @for(item of selectableItems; track item.option.value){
                    <ml-select-option  [name]="uniqueId" [value]="item.option.value" (OnItemChange)="itemChange($event)" [checked]="item.option.checked" [type]="multiple() ? 'checkbox' : 'radio'">
                        {{item.option.label}}
                    </ml-select-option>
                }
            }
            @else {
                <ng-container [ngTemplateOutlet]="defaultTemplate"></ng-container>
            }
            <ng-template #defaultTemplate>
                <ng-content></ng-content>
            </ng-template>
        </ul>
    </div>
</div>
