:root{
    --form-field-height: 2.5rem;
    --form-field-height-sm: 2rem;
    --form-field-height-lg: 3rem;

    --form-field-padding-x: 0.5rem;
    --form-field-padding-y: 0.5rem;
    --form-field-padding-x-sm: 0.25rem;
    --form-field-padding-y-sm: 0.25rem;
    --form-field-padding-x-lg: 0.75rem;
    --form-field-padding-y-lg: 0.75rem;

    --form-field-border-radius: 0.25rem;
    --form-field-border-radius-sm: 0.125rem;
    --form-field-border-radius-lg: 0.5rem;

    --form-field-border-color: #ced4da;
    --form-field-color: #495057;
    --form-field-background: #fff;
    --form-field-border-width: 1px;
}