<div class="page">
    <app-typo styleRef="heading1">Select Component</app-typo>
    <app-typo styleRef="body">The select component is a dropdown list that allows users to select one or more items from a list of options.</app-typo>
    
    <app-typo styleRef="heading2">Setup</app-typo>
    <app-typo styleRef="body">To use the select component, you need to import the SelectComponent. It handles both single and multiple selections with support for custom templates and lazy loading.</app-typo>

    <app-typo styleRef="heading2">Single Select</app-typo>
    <app-typo styleRef="body">This configuration allows the user to select a single item from the dropdown list. When an item is selected, the dropdown automatically closes.</app-typo>
    <ml-select 
    [items]="items"
    keyLabel="name"
    keyValue="id"
    (onSelectItem)="itemSelect($event)"/>

    <app-typo styleRef="heading2">Multiple Select</app-typo>
    <app-typo styleRef="body">This configuration enables selecting multiple items from the dropdown list. The dropdown remains open after a selection to allow additional selections.</app-typo>
    <ml-select 
    [items]="items"
    [multiple]="true"
    keyLabel="name"
    keyValue="id"
    (onSelectItem)="itemSelect($event)"/>
    

    <app-typo styleRef="heading2">Search field</app-typo>
    <app-typo styleRef="body">Enables a search input that filters options as you type. This is especially useful for large lists of items, making it easier to find specific options.</app-typo>
    <ml-select 
    [items]="items"
    [canSearch]="true"
    [multiple]="true"
    keyLabel="name"
    keyValue="id"
    (onSelectItem)="itemSelect($event)"/>

    <app-typo styleRef="heading2">Full Width</app-typo>
    <app-typo styleRef="body">Sets the select component to expand to the full width of its container, providing a more flexible layout option that adapts to various screen sizes.</app-typo>
    <ml-select 
    [items]="items"
    [canSearch]="true"
    [multiple]="true"
    [fullWidth]="true"
    keyLabel="name"
    keyValue="id"
    (onSelectItem)="itemSelect($event)"/>
        
    <app-typo styleRef="heading2">Lazy loading options</app-typo>

    <app-typo styleRef="body">To use the lazy loading options, you need to set the [lazyLoadItemsNumber] to a number that defines how many items to load at once.</app-typo>
    <ml-select
    [canSearch]="true"
    [multiple]="true"
    [items]="manyItems"
    keyLabel="name"
    keyValue="id"
    [lazyLoadItemsNumber]="20"/>

    <app-typo styleRef="heading2">Custom option template</app-typo>

    <app-typo styleRef="body">For customizing the appearance of options in the select component, you can use a custom option template.</app-typo>
    <ml-select
    [canSearch]="true"
    [multiple]="true"
    [items]="itemsWithImage"
    keyLabel="name"
    keyValue="id"
    [lazyLoadItemsNumber]="20"
    [optionTemplateRef]="optionTemplate"/>
        
    <ng-template #optionTemplate let-item>
        <img src="{{item.originItem.img}}" class="select__option__img">
        <span>{{item.option.label}}</span>
    </ng-template>

    <app-typo styleRef="heading2">Custom selection template</app-typo>

    <app-typo styleRef="body">
        
        This template allows you to customize how selected items are displayed in the select component, providing a better user experience. 
    </app-typo>
    <ml-select
    [canSearch]="true"
    [multiple]="true"
    [items]="itemsWithImage"
    keyLabel="name"
    keyValue="id"
    [lazyLoadItemsNumber]="20"
    [optionTemplateRef]="optionTemplate2"
    [selectionTemplate]="selectionTemplate"/>
        
    <ng-template #optionTemplate2 let-item>
        <img src="{{item.originItem.img}}" class="select__option__img">
        <span>{{item.option.label}}</span>
    </ng-template>

    <ng-template #selectionTemplate let-selectedItems>
        <div class="selection-container">
            @if(selectedItems.length > 0){
                <img src="{{selectedItems[0].originItem.img}}" class="select__option__img" />
                <span class="select__option__label">{{selectedItems[0].option.label}}</span>
            }
            @else {
                <span >No items selected</span>
            }
        </div>
    </ng-template>

    <app-typo styleRef="heading2">Validation with reactive forms</app-typo>

    <app-typo styleRef="body">
        
        
        Ensure that at least two items are selected to proceed. Any selection errors will be displayed below.
    </app-typo>
    <form [formGroup]="form">

        <ml-select
        [canSearch]="true"
        [multiple]="true"
        [items]="items"
        keyLabel="name"
        keyValue="id"
        formControlName="items"
        (onSelectItems)="itemsSelect($event)"
        (onChangeValidation)="validationChange()"
        [min]="2"
        />
        <div>
            @for(error of selectionErrors(); track $index){
                <span class="error-message">{{error}}</span>
            }
        </div>
    </form>

</div>

