.align-right{
    display: flex;
    justify-content: flex-end;
}

.select__option__img{
    width: 1.5rem;
    aspect-ratio: 1/1;
}
.select__option__label{
    white-space: nowrap;
    display: inline-flex;
    height: 100%;
    align-items: center;

}
.selection-container{
    display: flex;
    align-items: center;
    gap: .5rem
}
.error-message{
    color: var(--color-red-500);
    font-size: .8rem;
}

.footer-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-button{
    padding: .25rem .5rem;
    background-color: var(--color-blue-500);
    color: var(--color-gray-100);
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    font-size: .8rem;
    transition: background-color 0.3s ease;
}