.app{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
}
.app__content{
    display: grid;
    grid-template-columns: 255px 1fr;
}
.app__header{
    display: grid;
    height: 72px;
    border-bottom: 1px solid #e0e0e0;
}

.app__menu{
    display: grid;
    min-height: 100%;
    border-right: 1px solid #e0e0e0;
}

.menu__item{
    list-style: none;
}
.menu__link{
    text-decoration: none;
    color: inherit;
}