<div class="app">
    <header class="app__header">
    
    </header>
    <div class="app__content">
        <aside class="app__menu">
            <app-accordion>
                <app-accordion-item>
                    <header slot="header">
                        <h3>forms</h3>
                    </header>
                    <ul>
                        <li class="menu__item">
                            <a class="menu__link" routerLink="/forms/select">Select</a>
                        </li>
                    </ul>
                </app-accordion-item>
                <app-accordion-item>
                    <header slot="header">
                        <h3>components</h3>
                    </header>
                    <ul>
                        <li class="menu__item">
                            <a class="menu__link" routerLink="/components/file-reader">File reader</a>
                        </li>
                    </ul>
                </app-accordion-item>
            </app-accordion>
        </aside>
        <main>
            <router-outlet/>
        </main>
        <!-- <aside class="app__index"></aside> -->
    </div>
</div>