.app{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
}
.app__content{
    display: grid;
    grid-template-columns: 255px 1fr;
}
.app__header{
    display: grid;
    height: 72px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.app__menu{
    display: grid;
    min-height: 100%;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1);
}